<% if likes.any? %>
  <ul class="list-unstyled">
    <% likes.each do |micropost| %>
      <li class="media">
        <div class="media-body">
          <div>
            <p><%= micropost.content %></p>
            <%= render 'favorites/favorite_button', micropost: micropost %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>